---
const currentYear = new Date().getFullYear();

---
<footer class=" flex justify-center items-center footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <p>Copyright © {`${currentYear}`} - All right reserved by Steven Lizarazo.</p>
    </aside>
</footer>