<header class="flex justify-between items-center w-full xl:w-[1120px] my-6 mx-auto flex-nowrap">
        <img class="rounded-full size-16 shadow-5xl -inset-1 border-2 border-green-300/40  transform transition-transform duration-300 hover:scale-125" src="/public/projects/fotoMine.jpg" alt="photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#studies"><span class="hover:text-green-300 cursor-pointer ">Studies</span></a>
        <a href="#projects"><span class="hover:text-green-300 cursor-pointer">Projects</span></a>
        <a href="#skills"><span class="hover:text-green-300 cursor-pointer">Skills</span></a>              
    </nav>
    
</header>
