---

const X = ['JavaScript', 'ReactJs', 'TailwindCSS', 'Redux', 'TypeScript', 'NodeJS', 'Express', 'Sequelize', 'MongoDB', 'PosgreSQL' ]


---

<ul>
     {
        X.map( (tag) => (
            <span>  
                <button data-tooltip-target="tooltip-top" data-tooltip-placement="top" type="button" class="mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-900/30 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600/30 dark:hover:bg-blue-900/300 dark:focus:ring-blue-800 my-3 mx-3">
                  {tag}
                </button>
            </span>
        ))
    }
</ul>




