---
// Supports weights 100-700
// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import { defineMiddleware } from 'astro:middleware';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const switColor = () => {
	
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
	<div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
			<Header />
			<slot />
			<Footer class="py-6" />
	</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark; /* Con esto le decimos cuales son los colores que por defecto el navegdor tiene que entender que soportamos, el light y el dark, y como estamos en modo oscuro por defecto la letra se cambiara a blanco.*/
		
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	

</style>

